<table border="1">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Liste de factures</th>
    </tr>
    </thead>
    <tbody>
    {{#clients}}
        <tr>
            <td>{{nom}}</td>
            <td>{{prenom}}</td>
            <td><a href="/facturesClient/{{id}}/xlxs">Facture</a></td>
            
        </tr>
    {{/clients}}
    </tbody>
</table>

